/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import 'fonts';
@import 'respond_to';

$svtil_gray: #d1d2d4;
$svtil_tone: #939597;
$svtil_body: #58585b;

%svtil_color {
  color: $svtil_tone;
}

%svtil_bg {
  background-color: $svtil_gray;
}

%svtil_border {
  border-color: $svtil_gray;
}

%padding {
  padding-left: 60px;
  padding-right: 20px;
  @include respondTo(smallScreen) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

%content_margin_top {
  margin-top: 80px;
  @include respondTo(smallScreen) {
    margin-top: 10px;
  }
}

%headline_fonts {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  @include respondTo(smallScreen) {
    font-size: 24px;
    line-height: 28px;
  }
}

%subheadline_fonts {
  font-size: 18px;
  @include respondTo(smallScreen) {
    font-size: 15px;
    line-height: 23px;
  }
}

body {
  font-family: 'Lato';
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $svtil_tone;
  &:hover {
    color: darken($svtil_tone, 20%);
  }
}

* {
  box-sizing: border-box;
}

$mainbar-w: 280px;

.container {
  width: 1000px;
  margin: 0 auto;
  @include respondTo(smallScreen) {
    width: auto;
    margin: 0;
  }
  .content {
    @extend %svtil_border;
    border-top-width: 8px;
    border-top-style: solid;
    margin-left: $mainbar-w + 1px;
    font: 300 18px/133% Lato, sans-serif;
    @include respondTo(smallScreen) {
      float: left;
      margin-left: 0;
      font-size: 13px;
    }
  }
}

.mainbar {
  height: 100%;
  left: 50%;
  margin-left: -500px;
  position: fixed;
  top: 0;
  width: $mainbar-w;
  color: #939597;
  font-size: 18px;
  line-height: 20px;
  border-top-width: 8px;
  border-top-style: solid;
  @extend %svtil_border;
  @include respondTo(smallScreen) {
    position: static;
    float: right;
    margin-left: 0;
    width: 100%;
    border-top: none;
  }
  > .wrapper {
    position: relative;
    height: 100%;
    @include respondTo(smallScreen) {
      position: static;
    }
    .sitewide_nav {
      @extend %svtil_border;
      border-bottom-style: solid;
      border-bottom-width: 8px;
      bottom: 100px;
      padding-bottom: 20px;
      position: absolute;
      width: 100%;
      @include respondTo(smallScreen) {
        position: static;
        padding-bottom: 5px;
        margin-top: 20px;
      }
      a {
        display: block;
        float: right;
        margin-right: 37px;
        @include respondTo(smallScreen) {
          float: none;
        }
      }
    }
  }
  .author_infobox_wrapper {
    @include respondTo(smallScreen) {
      display: table;
      margin-bottom: 10px;
    }
  }
  .author_avatar {
    display: block;
    margin: 100px auto 0;
    width: 140px;
    height: 140px;
    @include respondTo(smallScreen) {
      margin-top: 10px;
      margin-left: 10px;
      width: 90px;
      height: 90px;
      display: table-cell;
    }
  }
  .author_name {
    font: 22px/22px Lato;
    text-transform: uppercase;
    text-align: center;
    @extend %svtil_color;
    @include respondTo(smallScreen) {
      width: 200px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .author_bio, .author_twitter, .author_website {
    font-weight: 300;
    width: 204px;
    margin: 0 auto;
    @include respondTo(smallScreen) {
      width: 300px;
      font-size: 15px;
      line-height: 15px;
    }
    a {
      text-decoration: none;
      font-style: italic;
    }
  }
  .author_twitter {
    margin-top: 22px;
  }
}
.post_crumbs{
  margin-top: 60px;
  @include respondTo(smallScreen) {
    margin-top: 0;
  }
  .post_crumb_link {
    color: $svtil_body;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover, &:active {
      @extend %svtil_bg;
      @extend %svtil_color;
    }
    .post_crumb {
      @extend %padding;
      line-height: 40px;
      padding-bottom: 15px;
      padding-top: 15px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      .post_subject {
        @extend %headline_fonts;
        margin: 0;
      }
      .subheader {
        @extend %subheadline_fonts;
      }
    }
  }
}

.post {
  @extend %padding;
  @extend %content_margin_top;
  color: $svtil_body;
  .post_subject {
    @extend %headline_fonts;
    margin: 0;
  }
  .post_info {
    @extend %subheadline_fonts;
    font-style: italic;
  }
  .post_body {
    margin-top: 40px;
    @include respondTo(smallScreen) {
      margin-top: 20px;
    }
    a {
      @extend %svtil_color;
    }
  }
}

.nav {
  height: 80px;
  padding-top: 30px;
  @extend %padding;
  $circle-radius: 40px;
  a.back_arrow {
    text-transform: uppercase;
    .icon {
      width: $circle-radius;
      height: $circle-radius;
      border-radius: $circle-radius;
      line-height: $circle-radius;
      text-align: center;
      @extend %svtil_bg;
      color: white;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
